html, body {
    height: 100%;
    overflow: hidden;
}

#container {
    text-align: center;
    height: 100%;
    /* padding: 10px; */
    width: 95%;
    display: flex;
    justify-content: space-around;
}

#sketch-holder {
    border: 5px solid #A4CCD0;
    line-height: 0;
    display: inline-block;
    text-align: center;
    height: 75%;
    width: 80%;
}

#slider-holder{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 7px;
    height: 75%;
    width: 200px;
}

.slider {
    
}

