html {
    /* height: 100vh; */
    overflow: scroll;
    overflow-x: hidden;
}

body {
    height: 90vh;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

h1 {
    margin: 10px;
}

#container {
    text-align: center;
    height: 75vh;
    width: 95%;
    display: flex;
    justify-content: space-around;
    /* overflow: hidden; */
}

#sketch-holder {
    border: 5px solid #A4CCD0;
    line-height: 0;
    display: inline-block;
    text-align: center;
    height: 90%;
    width: 80%;
    min-height: 300px;
}

#slider-holder{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 7px;
    height: 75%;
    min-height: 300px;
    width: 200px;
}

#counter-holder {
    padding: 7px;
}

.slider {
    
}

